{% extends 'main/base.html' %}

{% block title %}
Добавление ссылки
{% endblock %}

{% block content %}
    <h1>Скачайте вашу претензию</h1><br><br>
    <strong>Нарушение срока поставки, требование поставить товар и уплатить неустойку</strong><br><br>
    <a href="/media/Претензия поставка.docx" class="btn btn-primary">Скачать</a><br><br>
    <strong>Нарушение срока поставки - требование выплатить неустойку и уведомление об отказе от исполнения</strong><br><br>
    <a href="/media/Претензия поставка отмена.docx" class="btn btn-primary">Скачать</a>

{% endblock %}
